# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.3
$schema: https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2023/08/config/document.json
metadata:
  winget:
    processor:
      identifier: dscv3
assertions:
  - resource: Microsoft.Windows.Developer/OsVersion
    directives:
      description: Verify min OS version requirement
    settings:
      MinVersion: '10.0.26200'
resources:
  - name: Winget Source
    type: Microsoft.WinGet/Source
    metadata:
      description: Configure the WinGet package source
    properties:
      name: winget
      argument: https://cdn.winget.microsoft.com/cache
      explicit: false
      trustLevel: trusted
      type: Microsoft.PreIndexed.Package

  - name: Winget Font Source
    type: Microsoft.WinGet/Source
    metadata:
      description: Configure the WinGet font source
    properties:
      name: winget-font
      argument: https://cdn.winget.microsoft.com/fonts
      explicit: true
      trustLevel: trusted
      type: Microsoft.PreIndexed.Package

  - name: Winget User Settings
    type: Microsoft.WinGet/UserSettingsFile
    metadata:
      description: Enable WinGet font packages
    properties:
      action: Partial
      settings:
        experimentalFeatures:
          fonts: true

  - name: Sudo
    type: Microsoft.Windows/Registry
    metadata:
      description: Enable Windows Sudo with input disabled
      winget:
        securityContext: elevated
    properties:
      keyPath: HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Sudo
      valueName: Enabled
      valueData:
        DWord: 2
      _exist: true

{{ range $package := .packages }}
  - name: {{ replace "." " " $package }}
    type: Microsoft.WinGet/Package
    metadata:
      description: Install {{ $package }}
    dependsOn:
      - Winget Source
    properties:
      id: {{ $package }}
      source: winget

{{ end }}
  - name: Caskaydia Cove Nerd Font
    type: Microsoft.WinGet/Package
    metadata:
      description: Install CaskaydiaCove Nerd Font
    dependsOn:
      - Winget Font Source
      - Winget User Settings
    properties:
      id: ryanoasis.CaskaydiaCove
      source: winget-font

  - name: Taskbar Alignment
    type: Microsoft.Windows/Registry
    metadata:
      description: Align taskbar buttons to the left
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced
      valueName: TaskbarAl
      valueData:
        DWord: 0
      _exist: true

  - name: Disable Search Suggestions
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable search box suggestions
      winget:
        securityContext: elevated
    properties:
      keyPath: HKCU\Software\Policies\Microsoft\Windows\Explorer
      valueName: DisableSearchBoxSuggestions
      valueData:
        DWord: 1
      _exist: true

  - name: Disable Content Delivery Suggestions
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable suggested content in Windows
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\ContentDeliveryManager
      valueName: SubscribedContent-310093Enabled
      valueData:
        DWord: 0
      _exist: true

  - name: Disable Content Delivery Tips
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable suggested content in Windows
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\ContentDeliveryManager
      valueName: SubscribedContent-338389Enabled
      valueData:
        DWord: 0
      _exist: true

  - name: Disable Windows Welcome Experience
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable the Windows welcome experience
    properties:
      keyPath: HKCU\Software\Microsoft\Windows\CurrentVersion\UserProfileEngagement
      valueName: ScoobeSystemSettingEnabled
      valueData:
        DWord: 0
      _exist: true

  - name: Disable Mouse Acceleration
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable pointer acceleration
    properties:
      keyPath: HKCU\Control Panel\Mouse
      valueName: MouseSpeed
      valueData:
        String: '0'
      _exist: true

  - name: Disable Mouse Acceleration Threshold 1
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable pointer acceleration
    properties:
      keyPath: HKCU\Control Panel\Mouse
      valueName: MouseThreshold1
      valueData:
        String: '0'
      _exist: true

  - name: Disable Mouse Acceleration Threshold 2
    type: Microsoft.Windows/Registry
    metadata:
      description: Disable pointer acceleration
    properties:
      keyPath: HKCU\Control Panel\Mouse
      valueName: MouseThreshold2
      valueData:
        String: '0'
      _exist: true
