Set-PSReadLineOption -EditMode Emacs

Set-PSReadLineOption -Colors @{
  Command            = '{{ .colours.accentOne }}'
  Number             = 'DarkGray'
  Member             = 'DarkGray'
  Operator           = 'DarkGray'
  Type               = 'DarkGray'
  Variable           = '{{ .colours.accentTwo }}'
  Parameter          = '{{ .colours.accentTwo }}'
  String            = '{{ .colours.accentThree }}'
  ContinuationPrompt = 'DarkGray'
  Default            = 'DarkGray'
}

$p = $host.privatedata
$p.ErrorForegroundColor    = "Red"
$p.ErrorBackgroundColor    = "White"
$p.WarningForegroundColor  = "Yellow"
$p.WarningBackgroundColor  = "White"
$p.DebugForegroundColor    = "Yellow"
$p.DebugBackgroundColor    = "White"
$p.VerboseForegroundColor  = "Black"
$p.VerboseBackgroundColor  = "White"
$p.ProgressForegroundColor = "DarkGray"
$p.ProgressBackgroundColor = "White"

Invoke-Expression (&starship init powershell)

# chezmoi
function Edit-Dotfiles {
  code (chezmoi source-path)
}

New-Alias dotfiles Edit-Dotfiles
New-Alias df Edit-Dotfiles
function dfu {
  chezmoi update --apply
}
function dfuu {
  chezmoi update --apply && wsl bash -lic "chezmoi update --apply"
}

# dotnet
Register-ArgumentCompleter -Native -CommandName dotnet -ScriptBlock {
  param($commandName, $wordToComplete, $cursorPosition)
  dotnet complete --position $cursorPosition "$wordToComplete" | ForEach-Object {
    [System.Management.Automation.CompletionResult]::new($_, $_, 'ParameterValue', $_)
  }
}

# git
New-Alias g git
Import-Module posh-git

function gs { git status $args }
function ga { git add $args }
function gl { git l $args }

# kubectl
$KubectlCompletionScript = (kubectl completion powershell)
$KubectlCompletionScript | Out-String | Invoke-Expression

New-Alias k kubectl
$KubectlAliasCompletionScript = $KubectlCompletionScript -replace "kubectl", "k"
$KubectlAliasCompletionScript | Out-String | Invoke-Expression

function kclear { kubectl config unset current-context }
function kuse {
  param(
    [string]$Context
  )

  kubectl config use-context $Context
}

Register-ArgumentCompleter -CommandName kuse -ParameterName Context -ScriptBlock {
  param($commandName, $parameterName, $wordToComplete, $commandAst, $fakeBoundParameter)
  $Contexts = (kubectl config get-contexts --output='name') | Where-Object { $_ -like "$wordToComplete*" }
  return $Contexts
}

#winget
Register-ArgumentCompleter -Native -CommandName winget -ScriptBlock {
  param($wordToComplete, $commandAst, $cursorPosition)
  [Console]::InputEncoding = [Console]::OutputEncoding = $OutputEncoding = [System.Text.Utf8Encoding]::new()
  $Local:word = $wordToComplete.Replace('"', '""')
  $Local:ast = $commandAst.ToString().Replace('"', '""')
  winget complete --word="$Local:word" --commandline "$Local:ast" --position $cursorPosition | ForEach-Object {
    [System.Management.Automation.CompletionResult]::new($_, $_, 'ParameterValue', $_)
  }
}
